:root {
	--color-palete-red:  #e6563b;
	--color-palete-yellow: #eb9d3a;
	--color-palete-green: #7cb06c;
	--color-palete-blue: #00aba9;
	--color-palete-white: #f0f0f0;
	--color-palete-gray: #e6e6e6;
	--icon-size: 18px;
	--logo-size: 105px;
}

body{
	background-color: var(--color-palete-gray);
}
@font-face{
	font-family: Anton;
	src: url("../fonts/Anton/Anton-Regular.ttf")
	format("truetype");
}
*{
	font-family: Anton;
}
.Logo {
	/* width: var(--logo-size);
	height: var(--logo-size); */
	background-color: #e6563b;
	border-radius: 50%;
}
.lg-icon{
	display: block;
	text-align: center;
	padding-top: 20px;
	padding-left: .5em;
	width: 64px;
	height: 64px;
	color: white;
	border-radius: 50px;
	border: var(--color-palete-white) 2px solid;
	font-size: 14px;
}
.icon-sm {
	width: var(--icon-size);
	height: var(--icon-size);
	border-radius: 50%;
	color: black;
	padding-left: .2em;
}
.lg-icon:hover{
	color: black;
	box-shadow: 4px 4px red, -.8em 0 .4em olive;
}
.icon-red{
	background-color: var(--color-palete-red);

}
.icon-yellow{
	background-color: var(--color-palete-yellow);
	
}
.icon-green{
	background-color: var(--color-palete-green);

}
.icon-blue{
	background-color: var(--color-palete-blue);
}
.hr{
	display: block;
	content: "";
	height: 1px;
	margin-top: 10px;
	margin-bottom: 10px;
	border: black 1px dotted;
}
.iph {
	width: 500px;
	height: 250px;
}
.iph1 {
	width: 125px;
	height: 125px;
	background-color: black;
}
h1,h2,h5 {
	font-weight: bolder;
}
@media only screen and (max-width: 576px) {
.hide-on-phone{
	visibility: hidden;
}

.hr {
	visibility: hidden;
}

}